body {
  background-color: #404258;
}

#payment-container {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

#check-box-payment {
  background-color: #262835;
  padding: 2rem;
  display: flex;
  list-style: none;
  gap: 3rem;
}

#check-box-payment li {
  flex: 1;
  background-color: #efb8f0;
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 0.35rem;
}

#check-box-payment li {
  display: flex;
  align-items: center;
  position: relative;
}

#check-box-payment li:first-child {
  background-color: #b6c79c;
}

#check-box-payment li + li::before {
  content: "";
  display: block;
  background-image: url(../imgs/small_arrow.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 40px;
  position: absolute;
  left: -34px;
}

#payment-methods {
  padding: 2rem;
}

#payment-title {
  background-color: #262835;
  border-radius: 0.35rem 0.35rem 0rem 0rem;
  padding: 2rem;
}

#payment-title h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
}

#payment-options {
  background-color: #1f202b;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  border-radius: 0rem 0rem 0.35rem 0.35rem;
}

.info-span {
  color: #ffffff;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 1rem;
}

#select-container {
  display: flex;
  position: relative;
}

#address-select {
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.35rem;
  padding: 0.5rem;
  font-size: 2rem;
  width: 100%;
  background-color: #404258;
  color: #ffffff;
  margin-bottom: 2.5rem;
  appearance: none;
}

.arrow-icon {
  position: absolute;
  top: 20px;
  right: 10px;
}

.arrow-icon img {
  width: 30px;
}

#prices h3 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

#prices ul {
  list-style: none;
  margin-left: 1rem;
}

#prices ul li {
  color: #cccccc;
  font-size: 1.125rem;
  line-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

#prices ul li + li {
  line-height: 1.525rem;
}

.total-price-plus-shipping {
  color: #ffffff;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
}

.split-bar-1 {
  margin-top: 2rem;
}

.split-bar-1,
.split-bar-2 {
  height: 2px;
  border: none;
  border-radius: 0.35rem;
  background-color: #ffffff;
}

#select-credit-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.radio-credit-card {
  background-color: #404258;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-credit-card img {
  padding: 1rem;
}

.radio-credit-card [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
}

[type="radio"]:checked + img {
  background-color: #b6c79c;
  border-radius: 0.35rem;
}

#discount-coupon {
  margin-top: 1.5rem;
}

#discount-coupon label {
  font-size: 1.5rem;
  display: block;
  font-weight: 400;
}

#discount-coupon input {
  display: block;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.35rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  width: 100%;
  background-color: #404258;
  color: #ffffff;
  margin-top: 0.5rem;
  appearance: none;
}

#form-btn {
  display: block;
  margin: 0 auto;
  background-color: #f18bf3;
  color: #1e071f;
  font-size: 2rem;
  border: none;
  padding: 1.2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  #payment-options {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  #check-box-payment {
    padding: 2rem 1rem;
    gap: 1rem;
  }

  #check-box-payment li + li::before {
    display: none;
  }
}

@media (max-width: 604px) {
  #check-box-payment {
    flex-direction: column;
  }

  #payment-title,
  #payment-options {
    padding: 2rem 1rem;
  }

  #payment-title h1 {
    font-size: 1.5rem;
  }

  #address-select {
    font-size: 1.5rem;
  }

  .arrow-icon {
    top: 15px;
  }

  #prices ul {
    margin-left: 0;
  }

  #discount-coupon input {
    font-size: 1rem;
  }

  #select-credit-card {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 475px) {
  .info-span {
    font-size: 0.8rem;
  }

  #payment-title h1 {
    font-size: 1.2rem;
  }

  #prices h3 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  /*teste*/

  #prices ul li {
    line-height: normal;
  }

  #prices ul li + li {
    line-height: normal;
    margin-top: 1rem;
  }
  /*teste*/

  #prices ul li {
    font-size: 1rem;
  }

  .total-price-plus-shipping {
    font-size: 1.1rem;
  }

  .radio-credit-card img {
    max-width: 100%;
  }

  #discount-coupon label {
    font-size: 1.15rem;
  }

  #form-btn {
    font-size: 1.5rem;
  }
}
