main {
    display: flex;
    flex-direction: column;
    background-color: #404258;
}

.lineLogin {
    background-color: #262835;
    height: 5rem;
    padding: 1rem;
    color:white;
    font-style: normal;
    margin-bottom: 2rem;
}

#email, #senha{
    background-color: #404258;
    height: 3.5rem;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    color:white
}

.containerLogin {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 60%;
    background-color: #1F202B;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.containerButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lineText {
    background-color: #262835;
    height: 4.5rem;
    padding: 20px;
    color:white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

h1 {
    font-size: 1.5rem;
}

#nameInput {
    font-size: 1rem;
}

.page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 40rem;
}

.containerInputs {
    padding: 2rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
}


* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  #cadastroUser{
    background-color: #D74ED9;
    color: black;
    
    font-weight: bolder;
    cursor: pointer;
    border-radius: 25px;
    width: 10rem;
    height: 3.5rem;
  }