body {
  background-color: #404258;
}

#payment-data-container {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

#check-box-payment-data {
  background-color: #262835;
  padding: 2rem;
  display: flex;
  list-style: none;
  gap: 3rem;
}

#check-box-payment-data li {
  flex: 1;
  background-color: #efb8f0;
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 0.35rem;
}

#check-box-payment-data li {
  display: flex;
  align-items: center;
  position: relative;
}

#check-box-payment-data li:nth-child(2) {
  background-color: #b6c79c;
}

#check-box-payment-data li + li::before {
  content: "";
  display: block;
  background-image: url(../imgs/small_arrow.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 40px;
  position: absolute;
  left: -34px;
}

#credit-card-form {
  padding: 2rem;
}

#payment-title-data {
  background-color: #262835;
  border-radius: 0.35rem 0.35rem 0rem 0rem;
  padding: 2rem;
}

#payment-title-data h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
}

#credit-card-fields {
  background-color: #1f202b;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2rem;
  border-radius: 0rem 0rem 0.35rem 0.35rem;
}

.card-input-container {
  display: grid;
}

.field-1 {
  grid-column: 1/-1;
}

.field-2 {
  grid-column: 1/-1;
}

.field-3 {
  grid-column: 1/-1;
}

.card-input-container label {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.card-inputs {
  background-color: #404258;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
  color: #c0c0c0;
}

@media (max-width: 820px) {
  #credit-card-form,
  #payment-title-data,
  #credit-card-fields {
    padding: 2rem 1rem;
  }

  #credit-card-fields {
    grid-template-columns: 1fr;
  }

  .card-inputs {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #check-box-payment-data {
    padding: 2rem 1rem;
    gap: 1rem;
  }

  #check-box-payment-data li + li::before {
    display: none;
  }
}

@media (max-width: 604px) {
  #check-box-payment-data {
    flex-direction: column;
  }

  #payment-title-data h1 {
    font-size: 1.5rem;
  }

  .card-input-container label {
    font-size: 1rem;
  }
}
